.headline {
    text-align: center;
}
 
.headline h1 {
    margin-bottom: 0;
}
 
.headline p {
    margin-top: 0;
}

body
{
  margin:0;
  padding:0;
  color:#000;
  background:#efefef url(../img/classy_fabric.png) repeat center top;
  font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
  text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap {
  width: 960px;
  background: #fff;
  margin: 30px auto 30px auto;
  padding: 0;
  border: 1px solid #ccc;
}

#grid {

}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#projecttype {list-style-type: none;text-align: center}
#projecttype li {display: inline-block}
#projecttype li a {border: 2px solid orange; padding: .2em 1em; text-decoration: none; color: white; background-color: #2F4F4F;}
#projecttype li a:hover{color: black; background-color: red;}

#portfolio
{
  width: 150px;
  height: 150px;
}

#map-canvas {
     
        height: 200px;
}

#intro
{
  padding: 10px;
}

#isotopeContainer
{
  height: 500px;
}

.element {
    width: 110px;
    height: 110px;
    margin: 5px;
    float: left;
    overflow: hidden;
    position: relative;
    background: #888;
    color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
}

h1 {
    font-family: 'Medula One', cursive;
    font-weight: normal;
    line-height: 46px;
    font-size: 52px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

/* Color shapes */
.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}
 
.color-shape.round {
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
}
 
.color-shape.big.round {
  -webkit-border-radius: 75px;
     -moz-border-radius: 75px;
          border-radius: 75px;
}
 
.color-shape.red {  }
.color-shape.blue {  }
.color-shape.yellow {  }
 
.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }

.color-shape a {
  display: block;
  height: 100%;
}

.color-shape a:hover {
  background: white;
  background: hsla( 0, 0%, 100%, 0.5 );
}